<div class="w-screen h-screen bg-black flex flex-col px-3 py-2 space-y-4">
    <!-- Import header -->
    <app-header></app-header>
    <!-- /Import header -->

    <!-- Conteudo home -->
    <div class="w-full flex-grow grid grid-cols-3 gap-2 ">
        <div class="bg-bgblack rounded-lg"></div>
        <div class="col-span-2 bg-gradient-to-b from-indigo-700 to-bgDark rounded-lg"></div>
    </div>
    <!-- /Conteudo home -->

    <!-- Import footer -->
    <app-footer></app-footer>
    <!-- /Import footer -->
</div>
